
#logo {
    position: absolute;
    top: 150px;
    left: 605px;
    color: green;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 300px;
    padding-right: 250px; 
    background-color: rgba(0, 0, 0, 0.5); /* black at 50% opacity */
}
#credit {
    position: absolute;
    top: 700px;
    left: 305px;
    color: green;
    font-size: 20px;
    padding-left: 400px;
    font-weight:700;
    opacity:100%;
}
img {
    position: absolute;
    top:6px;
    left: 605px;
    width: 900px;
    height: 775px;
    box-shadow: 3px 3px 5px black;
}
.box_1 {
    
    background-color: lightgray;
    margin-right: 900px;
    padding-left: 30px;
    padding-top:100px;
    padding-right:40px;
    padding-bottom:50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    box-shadow: 3px 3px 5px black;
}

.box_2 {
   
    padding-top:30px;
    padding-left: 30px;
    padding-bottom:40px;
    margin-right:900px;
    box-shadow: 3px 3px 5px black;
    background-color: white;
}

#label_1{
    padding-right: 200px;
    font-family: 'Roboto';
}

#label_02 {
    font-family: 'Roboto';
}

.label_2 {
    margin-left:120px;
}

#label_03 {
    padding-right: 240px;
}

.label_3 {
    margin-left:120px;
}

#label_04 {
    padding-right: 200px;
}

.label_4 {
    margin-left: 117px;
    padding-right:7px;
}

legend {
    font-family: 'Roboto';
    font-size: 20px;
    padding-bottom: 10px;
}

.box_3 {
    
    background-color: lightgray;
    margin-right:900px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 40px;
    box-shadow: 3px 3px 5px black;
}

#button {
    background-color: lightgreen;
    padding:10px;
    border-radius: 6px;
}

#log {
    font-weight: bold;
}

span {
    color: green;
}
span:hover {
    text-decoration: underline;
    color: blue;
}
.invalid:invalid {
    border-color: red;
}
input:focus {
    border-color:blue;
    box-shadow: 2px 2px 5px blue;
}
input {
    border-radius:3px;
}